.Task {
    display: flex;
    justify-content:space-between ;
    align-items: center; 
    box-shadow: 0 2px 8px rgba(0, 0, 1, 25);
    padding: 0.5rem;
    margin: 1rem ;
    border-radius: 12px;
    background-color: #4b4b4b;
    width: 850px;
}
.Name{
    display: flex;
    justify-content: space-between ;
    align-items: center; 
    box-shadow: 0 2px 8px rgba(0, 0, 1, 25);
    padding-left: 30px;
    padding-right: 30px;
    margin: 1rem ;
    border-radius: 12px;
    background-color: #ff9a9a;
}
.Duration{
    display: flex;
    justify-content: space-between ;
    align-items: center; 
    box-shadow: 0 2px 8px rgba(0, 0, 1, 25);

    margin: 1rem ;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px;
    background-color: #ff9a9a;
    
}

.Urgency{
    
    display: flex;
    justify-content: space-between ;
    align-items: center; 
    box-shadow: 0 2px 8px rgba(0, 0, 1, 25);
    
    margin: 1rem ;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px;
    background-color: #161616;
    color: rgb(255, 255, 255);

}
.Importance{
    
    display: flex;
    justify-content: space-between ;
    align-items: center; 
    box-shadow: 0 2px 8px rgba(0, 0, 1, 25);
    
    margin: 1rem ;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px;
    background-color: #161616;
    color: rgb(255, 255, 255);

}
